
.todo-container {
    display: flex;
    flex-direction: column;
    width:100%;
    box-sizing: border-box;
    justify-content: center;
    text-align:center;
}

.todo-container h1 {
    color: #007bff;
    text-shadow: 4px 5px 5px black, 0 0 1em #007bff;
}

.cards-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 15px;
}
.card-body{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex: none !important;
    border:1px solid lightgrey;
    overflow: auto;
    position: relative;
    word-wrap: break-word;
}

.important-block {
    margin: 5px auto;
}
.card-block {
    width: 100px;
    min-height: 30px;
    background-color: aquamarine;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    margin-right: 10px;
    flex-direction: column;
    align-items: center;
}

.buttonContainer {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width:300px;
    padding-top:5px;
    padding-bottom:10px;
}

